/*------------------------------------------------------------------------------------------*/
/*------------------------------ Apartment Review Page Styles ------------------------------*/
/*------------------------------------------------------------------------------------------*/

body {
	background: #eee !important;
}

.wrapper {
    display: block;	
	margin-top: 80px;
    margin-bottom: 80px;;
}

.bottom-wrapper {
    display: flex;
    align-items: center;
}

.form-review {
    display: block;	
    max-width: 750px;
    width: auto;
    padding: 15px 70px 45px 45px;
    margin: auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1); 
} 

.form-signin-heading {
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: 100%;
    padding: 10px;
}

.form-control-user-review {
    position: relative;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    resize: vertical;
    border: 2px solid rgba(0,0,0,0.7);
}

.upload-image-msg {
    font-size: 12pt;
    font-weight: bold;
}

.submit {
    background-color: #005AB3;
    border: none;
    color: white;
    padding: 10px 32px;
    margin-right: 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}