/*-------------------------------------------------------------------------------*/
/*------------------------------ User Profile Page Styles ------------------------------*/
/*-------------------------------------------------------------------------------*/

body {
	background: #eee !important;	
}

.wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 750px;
    margin: auto;
}

.bottom-wrapper {
    display: flex;
    align-items: center;
}

.form-signin {
    max-width: 380px;
    padding: 15px 70px 45px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1); 
} 

.form-signin-heading {
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: 100%;
    padding: 10px;
}


input[type="text"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.pfp {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    border: 2px solid black;
}

.upload-image {
    margin-bottom: 30px;
}

.upload-image-message {
    font-size: 10pt;
    font-weight: bold;
}